<div class="container__big-card">
  <div class="big-card__photo"></div>
  <img
  src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png"
  alt=""
  width="100%"
  height="250px"
  >

  <div class="big-cart__title">
    <h1><a href="#">Titulo para o card</a></h1>
  </div>

  <div class="big-card__description">
    <p>
      <a href="#">
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi consectetur cum ullam dicta unde saepe non enim molestias id, expedita at, sunt iusto.
      </a>
    </p>
  </div>
</div>
